<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>GGC - Authentification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="GGC Authentification" name="description"/>
    <meta content="HAMIDI Mehdi" name="author"/>

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    {{ encore_entry_link_tags('base') }}
</head>

<body>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Authentification</h5>
                                    <p>Connectez-vous pour accèder au back-office.</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="{{ asset('images/login/profile-img.png') }}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <div class="avatar-md profile-user-wid mb-4">
                                <span class="avatar-title rounded-circle bg-light">
                                    <img src="{{ asset('images/login/logo.svg') }}" alt="" class="rounded-circle"
                                         height="34">
                                </span>
                            </div>
                        </div>

                        {% if error %}
                            <div class="p-2">
                                <div class="text-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="p-2">
                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                           placeholder="Entrez votre email" value="{{ last_username }}" required
                                           autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="_password">Mot de passe</label>
                                    <input type="password" name="password" class="form-control" id="userpassword"
                                           placeholder="Entrez votre mot de passe">
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="mt-3">
                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                                        Connexion
                                    </button>
                                </div>

                                <div class="mt-4 text-center">
                                    <h5 class="font-size-14 mb-3">Se connecté avec</h5>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="javascript::void()"
                                               class="social-list-item bg-primary text-white border-primary">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript::void()"
                                               class="social-list-item bg-info text-white border-info">
                                                <i class="mdi mdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript::void()"
                                               class="social-list-item bg-danger text-white border-danger">
                                                <i class="mdi mdi-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mt-4 text-center">
                                    <a href="#" class="text-muted">
                                        <i class="mdi mdi-lock mr-1"></i> Mot de passe oublié ?
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <div>
                        <p>Vous n'avez pas de compte ?
                            <a href="{{ path('register') }}" class="font-weight-medium text-primary">
                                Inscrivez-vous
                            </a>
                        </p>
                        <p>© {{ "now"|date("Y") }} GGC - HAMIDI Mehdi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('base') }}
</body>

</html>