{#
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% endblock %}
#}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>GGC - Inscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="GGC Inscription" name="description"/>
    <meta content="HAMIDI Mehdi" name="author"/>

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    {{ encore_entry_link_tags('base') }}
</head>

<body>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Inscription</h5>
                                    <p>Créer votre compte personnel</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="{{ asset('images/login/profile-img.png') }}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <div class="avatar-md profile-user-wid mb-4">
                                <span class="avatar-title rounded-circle bg-light">
                                    <img src="{{ asset('images/login/logo.svg') }}" alt="" class="rounded-circle"
                                         height="34">
                                </span>
                            </div>
                        </div>

                        <div class="p-2">
                            {{ form_start(form) }}

                            <div class="form-group">
                                <label for="firstman">Nom</label>
                                {{ form_widget(form.lastname, {'attr': {'class' : 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                            </div>

                            <div class="form-group">
                                <label for="username">Prénom</label>
                                {{ form_widget(form.firstname, {'attr': {'class' : 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                {{ form_widget(form.email, {'attr': {'class' : 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Mot de passe</label>
                                {{ form_widget(form.password, {'attr': {'class' : 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">S'inscrire</button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <div>
                        <p>
                            Vous avez déjà un compte ?
                            <a href="{{ path('login') }}" class="font-weight-medium text-primary">
                                Connectez-vous
                            </a>
                        </p>
                        <p>© {{ "now"|date("Y") }} GGC - HAMIDI Mehdi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ encore_entry_script_tags('base') }}
</body>

</html>