{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block menu_chat %}active{% endblock %}

{% block body %}

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->


{% endblock %}


